* {
  margin: 0;
  padding: 0;
 
}
.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 0%;
}

.card {
  border-radius: 13px;
  padding: 2rem;
  background-color:  #c7c7c7;
}

.product-canvas {
  width: 100%;
  height: 45vh;
  background:white;
  border-radius: 0px;
  margin-bottom:20px

}

.colors {
display:flex;
flex-direction:row;
}

.colors div {padding:8px;}
